<h2>Contactez-nous</h2>

<form #form="ngForm" (submit)="sendMessage(form)" novalidate>
    <div class="form-group"
        [class.has-error]="msgSubject.invalid && msgSubject.touched">
        <label for="subject" class="control-label">Sujet</label>
        <input type="text" 
            #msgSubject="ngModel"
            ngModel 
            required 
            name="subject" 
            class="form-control" 
            id="subject" 
            placeholder="sujet">
            <div *ngIf="msgSubject.invalid && msgSubject.touched">Sujet manquant</div>
    </div>
    <div class="form-group"
        [class.has-error]="msgContent.invalid && msgContent.touched">
        <label for="message" class="control-label">Message</label>
        <textarea class="form-control" 
            #msgContent="ngModel"
            ngModel
            required
            name="message" 
            id="message" 
            placeholder="votre message">
        </textarea>
    </div> 
    <div class="form-group">
        <label for="service">Service</label>
        <select id="service" ngModel name="service" class="form-control" required>
            <option value="tech">Technique</option>
            <option value="sales">Commercial</option>
            <option value="guide">Guide moyenne montagne</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Envoyer</button>
</form>

Form : {{ form.valid | json}}